// COLOURS

// Greys
$color-grey-lightest: #f0f2f7;
$color-grey-lighter: #d2d6e0;
$color-grey-light: #b6bac5;
$color-grey-dark: #626977;
$color-grey-darker: #282c34;

// Status Colours
$color-status-deselected: #94a0bd;
$color-status-deselected-text: #1e2944;
$color-status-selected-bg: #d3eac5;
$color-status-selected: #7ad244;
$color-status-selected-text: #131711;
$color-status-disabled: #b8becc;
$color-status-disabled-text: #8690a5;