@import '_variables.scss';

.courses-side-panel {
  color: $color-grey-darker;
  min-width: 200px;
  width: 20vw;
  height: 100vh;
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  overflow: scroll;

  &__header {
    background-color: $color-grey-lighter;
    color: $color-grey-darker;
    font-size: 16px;
    padding: 8px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    flex: 0 0 0;
    user-select: none;
  }

  &__content {
    background-color: $color-grey-lightest;
    flex: 1 1 0;
    padding: 8px;
    text-align: left;
    font-size: 16px;

    &__toggle {
      color: $color-grey-lightest;
      display: flex;

      &__button {
        background-color: $color-grey-darker;
        flex: 1 1 0;
        text-align: center;
        margin: 4px;
        padding: 2px;
        border-radius: 4px;
        user-select: none;

        &--deselected {
          cursor: pointer;
          background-color: $color-grey-dark;
        }
      }
    }
  }

  &__sub-content {
    font-size: 14px;
    padding: 6px;
  }
}

.courses-view {
  &__course {
    margin-bottom: 16px;

    &__name {
      font-size: 16px;
      font-weight: 600;
      margin: 4px 0;
      letter-spacing: 1.5px;
      text-align: center;
    }

    &__section {
      border: 1px solid black;
      padding: 8px 10px;
      border-radius: 4px;
      margin-bottom: 12px;

      &:last-child {
        margin-bottom: 24px;
      }

      &__label {
        margin: 0;
        margin-bottom: 4px;
        font-weight: 600;
      }

      &__time {
        display: inline-block;
        color: $color-grey-dark;

        &__day {
          text-transform: uppercase;
          width: 40px;
          font-size: 13px;
          font-weight: 600;
          display: inline-block;
          text-align: left;
        }

        &__time {
          display: inline-block;
        }
      }
    }
  }
}

.courses-add {
  margin-top: 8px;
  &__input {
    font-size: 14px;
    margin: 1px 0;
    width: -webkit-fill-available;
  }

  &__meeting-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
  }

  &__meeting-time {
    // margin: 14px 0;
    margin-bottom: 16px;

    &__label {
      font-size: 12px;
      text-transform: uppercase;
      color: $color-grey-darker;
      font-weight: 500;
      letter-spacing: 1px;
      width: 50px;
      text-align: left;
      display: inline-block;
    }
  }

  &__button {
    font-size: 12px;
  }

  &__submit {
    text-align: center;
    margin-top: 24px;
    width: -webkit-fill-available;

    &__error {
      font-size: 12px;
      font-weight: 500;
      color: #ff0000;
      margin-bottom: 4px;
    }
  }
}
