@import '_variables.scss';

$timetable-border-radius: 8px;

.timetable {
  width: 70vw;
  height: 70vh;
  display: flex;
  margin: auto;
}

.timetable-day {
  background-color: $color-grey-lightest;
  flex: 1 1 0;
  border: 1px solid $color-grey-darker;
  border-radius: $timetable-border-radius;
  display: flex;
  flex-direction: column;

  &__header {
    border-top-left-radius: $timetable-border-radius;
    border-top-right-radius: $timetable-border-radius;
    background-color: $color-grey-light;
    font-size: 14px;
    padding: 6px 4px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: $color-grey-darker;
    border-bottom: 1px solid $color-grey-lightest;
  }

  &__schedule {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
  }
}

.time-segment {
  background-color: $color-grey-lighter;
  font-size: 12px;
  padding: 4px;
  font-weight: 400;
  color: $color-grey-darker;
  flex: 1 1 0;
  border-bottom: 0.5px dashed $color-grey-lightest;
  position: relative;

  &--mid-hour {
    border-bottom: 1.5px solid $color-grey-lightest;
  }

  &__course {
    position: absolute;
    background-color: $color-status-deselected;
    width: 100%;
    z-index: 1;
    left: 0;
    top: 0;

    &--selected {
      background-color: $color-status-selected;
      color: $color-status-selected-text;
    }

    &--disabled {
      background-color: $color-status-disabled;
      color: $color-status-disabled-text;
    }

    &__label {
      font-weight: 700;
      padding-top: 4px;
      padding-bottom: 2px;
    }

    &__time {
      font-weight: 500;
    }
  }

  &:last-child {
    border-bottom-left-radius: $timetable-border-radius;
    border-bottom-right-radius: $timetable-border-radius;
    border-bottom: 0px;
  }
}